#textdomain wesnoth-Return_from_Captivity

#define ABILITY_INVISIBILITY
    # Canned definition of the Invisiblility ability to be included in an
    # [abilities] clause.
    [hides]
        id=rfc_invisibility
        name= _"invisibility"
        name_inactive= _"invisibility"
        description= _"This unit is invisible by its enemies.

Enemy units cannot see this unit, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
        affect_self=yes
    [/hides]
#enddef

#define RFC_WEAPON_SPECIAL_STUN
    [weapon_special_stun]
        id=rfc_stun
        name= _ "stun"
        name_inactive= _ "stun"
        description= _ "This attack leaves its opponent dazed preventing it to enforce a zone of control and lowering it defenses by 10%. The effect wears off on the opponent’s next turn."
        description_inactive= _ "This attack leaves its opponent dazed preventing it to enforce a zone of control and lowering it defenses by 10%. The effect wears off on the opponent’s next turn."
    [/weapon_special_stun]
#enddef

#define RFC_WEAPON_SPECIAL_STUN_EVENTS
    [event]
        name=attacker hits
        id=weapon_special_stun_attacker_hits
        first_time_only=no

        [filter_attack]
            special_id=rfc_stun
        [/filter_attack]

        [filter_second]
            [not]
                status=stunned
            [/not]
        [/filter_second]

        [fire_event]
            name=stunned
            [primary_unit]
                x,y=$x1,$y1
            [/primary_unit]
            [secondary_unit]
                x,y=$x2,$y2
            [/secondary_unit]
        [/fire_event]
    [/event]

    [event]
        name=defender hits
        id=weapon_special_stun_defender_hits
        first_time_only=no

        [filter_second_attack]
            special_id=rfc_stun
        [/filter_second_attack]

        [filter]
            [not]
                status=stunned
            [/not]
        [/filter]

        [fire_event]
            name=stunned
            [primary_unit]
                x,y=$x2,$y2
            [/primary_unit]
            [secondary_unit]
                x,y=$x1,$y1
            [/secondary_unit]
        [/fire_event]
    [/event]

    [event]
        id=stunned_event
        name=stunned
        first_time_only=no

        [switch]
            variable=second_unit.gender
            [case]
                value=female
                [floating_text]
                    x,y=$second_unit.x,$second_unit.y
                    text="<span color='gold'>"+_ "female^stunned"+"</span>"
                [/floating_text]
            [/case]
            [else]
                [floating_text]
                    x,y=$second_unit.x,$second_unit.y
                    text="<span color='gold'>"+_ "stunned"+"</span>"
                [/floating_text]
            [/else]
        [/switch]

        [object]
            id=stunned
            silent=yes
            duration=turn

            [filter]
                x,y=$x2,$y2
            [/filter]

            [effect]
                apply_to=image_mod
                replace="CS(0,50,50)"
            [/effect]

            [effect]
                apply_to=attack
                increase_parry=-10
            [/effect]

            [effect]
                apply_to=zoc
                value=no
            [/effect]

            [effect]
                apply_to=ellipse
                ellipse=none
            [/effect]

            [effect]
                apply_to=status
                add=stunned
            [/effect]
        [/object]
    [/event]

    [event]
        id=remove_custom_effects
        name=turn refresh
        first_time_only=no

        [modify_unit]
            [filter]
                side=$side_number
                status=stunned
            [/filter]

            [effect]
                apply_to=image_mod
                replace="NOP()"
            [/effect]

            [effect]
                apply_to=status
                remove=stunned
            [/effect]
        [/modify_unit]
    [/event]
#enddef
